# Python
venv/
__pycache__/
*.pyc
*.pkl

# Flutter / Dart
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub-cache/
.pub/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
